{% extends "index.html" %}
{% block content %}
    <h2>Flux utilisateur</h2>
    <div class="flux__nav">
        <strong><a class="flux__nav__link" href="{% url 'create_ticket'%}">Créer un ticket</a></strong>
        <strong>|</strong>
        <strong><a class="flux__nav__link" href="{% url 'create_review'%}">Créer une critique</a></strong>
    </div>
    
    <div class="posts">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}   
            {% include 'review/ticket.html' %}
        {% elif post.content_type == 'REVIEW' %}
           {% include 'review/review.html' %}
        {% endif %}
    {% endfor %} 
    </div>
{% endblock content%}